Retail-Supply-Chain-Sales-Dataset_NOVO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

  <!-- Root element -->
  <xs:element name="Root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Row" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="RowID" type="xs:integer"/>
              <xs:element name="OrderID" type="xs:string"/>
              <xs:element name="OrderDate" type="xs:string"/>
              <xs:element name="ShipDate" type="xs:string"/>
              <xs:element name="ShipMode" type="xs:string"/>
              <xs:element name="CustomerID" type="xs:string"/>
              <xs:element name="CustomerName" type="xs:string"/>
              <xs:element name="Segment" type="xs:string"/>
              <xs:element name="Country" type="xs:string"/>
              <xs:element name="City" type="xs:string"/>
              <xs:element name="State" type="xs:string"/>
              <xs:element name="PostalCode" type="xs:string"/>
              <xs:element name="Region" type="xs:string"/>
              <xs:element name="RetailSalesPeople" type="xs:string"/>
              <xs:element name="ProductID" type="xs:string"/>
              <xs:element name="Category" type="xs:string"/>
              <xs:element name="SubCategory" type="xs:string"/>
              <xs:element name="ProductName" type="xs:string"/>
              <xs:element name="Returned" type="xs:string"/>
              <xs:element name="Sales" type="xs:decimal"/>
              <xs:element name="Quantity" type="xs:integer"/>
              <xs:element name="Discount" type="xs:decimal"/>
              <xs:element name="Profit" type="xs:decimal"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
